{% extends "mainframe.jinja2" %}
{% block content %}
    <h2>Please paste content of results file into here:</h2>
    <form method="POST" action="/setup">
        <textarea name="config"></textarea>
        <br/>
        <br/>
        <input type="submit" value="Load config">
    </input>
</form>
{% endblock content %}
{% block style %}
    <style>
textarea {
    margin: auto;
    width: 80%;
    height: 10rem;
}
    </style>
{% endblock style %}
